<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Buyan K</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Buyan.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/me.jpeg" alt="buyan-profile-pic" width="350">
      <h2>Hello.</h2>
      <p class="intro">I am an aspiring Software Engineer, Data Scientist. Currently pursuing B.S in Computer Science and Mathematics in the Bay Area</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Mobile Development</h3>
        <p>I've built various mobile apps</p>
        <ul>
          <li>Threat Tracker iOS app  (React Native)<a href="https://www.linkedin.com/feed/update/urn:li:activity:7254223676282150913/" target="_blank">(Link)</a></li>
          <li>Habit Tracker mobile app (Flutter)</li>
        </ul>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/chillies.png" alt="chillies-img">

        <h3>Spicy foods</h3>
        <p>But my best skill is actually in eating spicy foods. </p>

      </div>
      <div class="skill-row">
        <img class="code-img" src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3htdngyYzN0eWV1c3lhZzl1cmQwNWVweG43dGJ2cmhueGZvbXhtZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VbnUQpnihPSIgIXuZv/giphy.webp" alt="code-img">

        <h3>Web Development</h3>
        <p>I've built various web dev projects.</p>
        <ul>
          <li>Flask CRUD app</li>
          <li>MERN stack CRUD app</li>
        </ul>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love spicy foods as much as I do.</h3>
      <p class="contact-message">Love spicy foods as much as I do? Let's talk about how awesome they are! We can code while we eat spicy foods!</p>
      <a class="btn" href="mailto:buyantogtokh002@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/khurel/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/mqwulf">GitHub</a>
    <p class="copyright">© 2024 Buyan</p>
  </div>
</body>

</html>
